<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <ul style="margin-top: 10px;">
      <li style="font-weight: bold;">Peliculas</li>
      <li><a href="/movies">Lista de Peliculas</a></li>
      <li><a href="/movies/recommended">Lista de Peliculas Recomendadas</a></li>
      <li><a href="/movies/new">Lista de Peliculas Nuevas</a></li>
      <li>-</li>
      <li style="font-weight: bold;">Generos</li>
      <li><a href="/genres">Lista de Generos</a></li>
    </ul>
  </body>
</html>
